
</div>
<footer class="navbar-inverse text-lg-start">
  <div class="container p-4" style="padding:10px;">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color:yellow;">About Daily Journal</h5>
        <p style="color:white">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color:orange;">Quick Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" style="color:white;"><i class="bi bi-award"></i> Careers</a>
          </li>
          <li>
            <a href="#!" style="color:white;"><i class="bi bi-lock"></i> Privacy Policy</a>
          </li>
          <li>
            <a href="/contact" style="color:white;"><i class="bi bi-info-square"></i> Terms & Conditions</a>
          </li>
          <li>
            <a href="/contact" style="color:white;"><i class="bi bi-telephone-outbound"></i> Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0" style="color:orange;">Address</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color:white;"><i class="bi bi-house-door"></i> Some place, New York, NY 56776</a>
          </li>
          <li>
            <a href="#!" style="color:white;"><i class="bi bi-flag"></i> USA</a>
          </li>
          <li>
            <a href="#!" style="color:white;"><i class="bi bi-envelope"></i> info@example.com</a>
          </li>
          <li>
            <a href="#!" style="color:white;"><i class="bi bi-telephone"></i> 1234567890</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center" style="color:white;background-color: black;padding:5px;">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled list-inline">
          <li>
            <a href="#!"><i class="bi bi-facebook" style="color:#3b5998;font-size: 2rem;margin-right:5px"></i></a>
          </li>
          <li>
            <a href="#!"><i class="bi bi-instagram" style="color:#fbad50;font-size: 2rem;margin-right:5px"></i></a>
          </li>
          <li>
            <a href="#!"><i class="bi bi-linkedin" style="color:#0e76a8;font-size: 2rem;margin-right:5px"></i></a>
          </li>
          <li>
            <a href="#!"><i class="bi bi-youtube" style="color:#FF0000;font-size: 2rem;margin-right:5px"></i></a>
          </li>
          <li>
            <a href="#!"><i class="bi bi-twitter" style="color:#00acee;font-size: 2rem;"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        Copyright © 2020 : <a href="/" style="font-size: 2rem;">DailyJournal.com</a>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
