<div class="complete">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="testimonials-clean">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Testimonials </h2>
                            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.lorem5 Lorem
                                ipsum dolor sit amet.</p>
                        </div>
                        <div class="row people">
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box">
                                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Praesentium vitae voluptas numquam veritatis non provident!</p>
                                </div>
                                <div class="author"><img class="rounded-circle" src="https://picsum.photos/200/300">
                                    <h5 class="name">Ben Johnson</h5>
                                    <p class="title">CEO of Company Inc.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box">
                                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea,
                                        dolores.</p>
                                </div>
                                <div class="author"><img class="rounded-circle" src="https://picsum.photos/200/300">
                                    <h5 class="name">Carl Kent</h5>
                                    <p class="title">Founder of Style Co.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box">
                                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, incidunt!</p>
                                </div>
                                <div class="author"><img class="rounded-circle" src="https://picsum.photos/200/300">
                                    <h5 class="name">Emily Clark</h5>
                                    <p class="title">Owner of Creative Ltd.</p>
                                </div>
                            </div>
                        </div>
                        <a href="/testimonial-write"><button class="test-button">Write a testimonial </button> </a>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="testimonials-clean">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Testimonials </h2>
                            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.lorem5 Lorem
                                ipsum dolor sit amet.</p>
                        </div>
                        <div class="row people">
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box">
                                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Praesentium vitae voluptas numquam veritatis non provident!</p>
                                </div>
                                <div class="author"><img class="rounded-circle" src="https://picsum.photos/200/300">
                                    <h5 class="name">Ben Johnson</h5>
                                    <p class="title">CEO of Company Inc.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box">
                                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea,
                                        dolores.</p>
                                </div>
                                <div class="author"><img class="rounded-circle" src="https://picsum.photos/200/300">
                                    <h5 class="name">Carl Kent</h5>
                                    <p class="title">Founder of Style Co.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box">
                                    <p class="description">Aliquam varius finibus est, et interdum justo suscipit.
                                        Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.
                                    </p>
                                </div>
                                <div class="author"><img class="rounded-circle" src="https://picsum.photos/200/300">
                                    <h5 class="name">Emily Clark</h5>
                                    <p class="title">Owner of Creative Ltd.</p>
                                </div>
                            </div>
                        </div>
                        <a href="/testimonial-write"><button class="test-button">Write a testimonial </button> </a>

                    </div>

                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

</div> 
