<%- include("partials/header") -%>

<div class="container-centre">
    <h1 class="heading-centre">About <span class="heading-main-bold">Us</span></h1>

    <div class="main-content-font">
    <p> <%= aboutContent %> </p> 
    <p> Daily Journal is one such platform where one can share their day-to-day experiences. We ensure to promote a healthy environment and help our users stay strong and motivated. From a food journal to a dream journal, you can express thoughts, share ideas and capture your interests. All you have to do is get started and start writing yours!</p>
    </div>

</div>

<%- include("partials/footer") -%>